.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  width: 88%;
  margin-top: 0 auto 10px;
}

.slick-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.story-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .story-image-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.story-image {
  width: 90%;

  border-radius: 50%;
}

.slick-item p {
  font-size: 14px;
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: #989898;
}
